.index
    @apply rounded-big gap-medium flex flex-col p-small bg-white
    &__slider
        width: 100%
        height: 600px
        background-color: gray
        @apply rounded-medium
    &__sections
        @apply flex flex-col gap-small