@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap')

html
    scrollbar-width: none
    --border-radius-small: 10px
    --border-radius-medium: 12px
    --border-radius-big: 15px
    --main-link-color: #0059FF
    --main-text-color: #303030
    &::-webkit-scrollbar
        width: 0px
    
    
body
    // font-family: Verdana, Geneva, Tahoma, sans-serif
    font-family: 'Andika', sans-serif !important
    font-size: 16px
    background-color: #e9eeff
    scrollbar-width: none
    &::-webkit-scrollbar
        width: 0px

.r-container
    max-width: 1700px
    width: 100%
    margin: 0 auto
    box-sizing: border-box
    padding: 0 20px


.page__body
    padding: 30px 0
    min-height: calc(100vh - 86px - 64px)
    
.page-body
    &__r-container        
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__sidebar
        width: 300px
        margin-right: 30px
    &__content
        width: 100%
        &--sidebar
            width: calc(100% - 330px)
